body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg,#e6f0fa,#f8fbff);
}

/* center layout */

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* card */

.card{
    background:white;
    padding:35px;
    width:380px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.card h2{
    text-align:center;
    margin-bottom:20px;
}

/* form */

.form-group{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
    margin-top:5px;
}

/* button */

button{
    width:100%;
    padding:10px;
    background:#3498db;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#2980b9;
}

/* error */

.error{
    color:red;
    font-size:13px;
}